@import "tailwindcss";

@font-face {
  font-family: "Bayer TypeArchiType";
  src: url('./assets/fonts/Bayer TypeArchiType Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

:root {
  --primary-700: #1C185F;
  --primary-600: #3730A3;
  --primary-500: #5454CD;
  --primary-400: #817EDD;
  --primary-300: #AAA8E9;
  --primary-200: #DAD3FE;
  --primary-100: #F0F0FB;
  --gray-600: #232328;
  --gray-100: #d5d5d8;
}

body {
  font-family: "Cascadia Mono", monospace;
}

h1,
h2,
nav a {
  font-family: "Bayer TypeArchiType", sans-serif;
}

.card-border {
  border-top: 3px solid var(--primary-200);
  border-left: 3px solid var(--primary-200);
  border-right: 6px solid var(--primary-200);
  border-bottom: 6px solid var(--primary-200);
}

.card-hover {
  border-top: 3px solid var(--primary-200);
  border-left: 3px solid var(--primary-200);
  border-right: 6px solid var(--primary-200);
  border-bottom: 6px solid var(--primary-200);
  border-radius: 0.75rem;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  padding: 1rem;
  transition: background-color 0.3s, colors 0.3s;
}
.card-hover:hover {
  background-color: var(--primary-100);
}

.section-container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 4rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: white;
}

.section-title {
  font-weight: bold;
  color: var(--primary-600);
  padding-bottom: 1rem;
  font-size: 1.25rem;
  line-height: 1.75rem;
}

@media print {
  body {
    background: white !important;
    padding: 0 !important;
  }
  .container {
    box-shadow: none !important;
    max-width: none !important;
    margin: 0 !important;
    padding: 1rem !important;
  }
}