@import "tailwindcss";

@font-face {
  font-family: "Bayer TypeArchiType";
  src: url("./assets/fonts/Bayer TypeArchiType Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

:root {
  --primary-700: #1c185f;
  --primary-600: #3730a3;
  --primary-500: #5454cd;
  --primary-400: #817edd;
  --primary-300: #aaa8e9;
  --primary-200: #dad3fe;
  --primary-100: #f0f0fb;
  --gray-600: #232328;
  --gray-100: #d5d5d8;
}

body {
  font-family: "Cascadia Mono", monospace;
}

h1,
h2,
nav a {
  font-family: "Bayer TypeArchiType", sans-serif;
  font-weight: 600;
}

nav a,
nav h2 {
  font-size: medium;
}

@layer components {
  .section-padding-x {
    @apply px-4 sm:px-8 md:px-16 lg:px-24 xl:px-32;
  }

  .section-padding-y {
    @apply py-8 md:py-12 lg:py-16;
  }

  .section-padding {
    @apply px-4 sm:px-8 md:px-16 lg:px-24 xl:px-32 py-8 md:py-12 lg:py-16;
  }

  .nav-link, .language {
    @apply hover:text-[var(--primary-500)] transition-colors;
  }

  .hamburger-line {
    @apply w-6 h-0.5 bg-[var(--primary-700)] transition-all;
  }

  .section-container {
    @apply w-full mx-auto px-4 sm:px-8 md:px-16 lg:px-24 xl:px-32 py-8 md:py-12 lg:py-16 bg-white;
  }

  .section-title {
    @apply font-bold text-[var(--primary-600)] pb-8 text-2xl sm:text-3xl lg:text-4xl;
  }

  .card-border {
    @apply border-[3px] border-t-[var(--primary-200)] border-l-[var(--primary-200)] 
           border-r-[6px] border-b-[6px] rounded-[3rem] p-4;
  }

  .icon-img {
    @apply w-12 h-12 sm:w-16 sm:h-16 md:w-20 md:h-20 lg:w-24 lg:h-24;
  }

  .body-text {
    @apply text-sm sm:text-base text-[var(--gray-600)] leading-relaxed;
  }

  .project-card {
    @apply bg-[var(--primary-100)] md:bg-white border-[3px] border-t-[var(--primary-200)]
    border-l-[var(--primary-200)] border-r-[var(--primary-300)] border-b-[var(--primary-300)] border-r-[6px] border-b-[6px] rounded-[3rem] p-4 
    shadow-sm md:hover:bg-[var(--primary-100)] transition-colors duration-300 flex 
    flex-col justify-center hover:shadow-md;
  }

  .shadow-top {
    @apply shadow-[0_-4px_6px_-1px_rgba(0,0,0,0.1)];
  }
}

@media print {
  body {
    background: white !important;
    padding: 0 !important;
  }
  .container {
    box-shadow: none !important;
    max-width: none !important;
    margin: 0 !important;
    padding: 1rem !important;
  }
}
